<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">Home</a>
    <div class="navbar-nav">
      <a
        class="nav-item nav-link"
        [routerLink]="['/combination']"
        routerLinkActive="active"
        >Combination</a
      ><a
        class="nav-item nav-link"
        [routerLink]="['/filtering']"
        routerLinkActive="active"
        >Filtering</a
      ><a
        class="nav-item nav-link"
        [routerLink]="['/transformation']"
        routerLinkActive="active"
        >Transformation</a
      ><a
        class="nav-item nav-link"
        [routerLink]="['/simple-store']"
        routerLinkActive="active"
        >Simple Store</a
      >
    </div>
  </nav>
</div>
